.home {
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.home-text {
    width: 45%;
    align-items: center;
    gap: 3rem;
    text-align: center;
}

.home-text p {
    font-weight: var(--subtitle-fw);
    font-size: 3rem;
}

.name {
    font-family: var(--nav-ff);
    font-weight: var(--nav-fw);
    font-size: 6rem;
    color: var(--color-green);
}

.home-img {
    width: 45%;
    min-width: 30rem;
    max-width: 100rem;
}

.home-text__links {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.home-text__link {
    width: 20rem;
    background-color: var(--color-green);
    font-size: 3rem;
    border-radius: 1rem;
    padding: 1rem;
    color: var(--color-black);
}

@media screen and (max-width: 420px) {
    .home{
        flex-direction: column;
    }

    .home-text {
        gap: 2rem;
    }

    .home-text p {
        font-size: 2.5rem;
    }

    .name {
        font-size: 3rem;
    }

    .home-text__links {
        gap: 3rem;
    }
}