.home {
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.home-text {
    width: 45%;
    align-items: center;
    gap: 3rem;
    text-align: center;
}

.home-text p {
    font-weight: var(--subtitle-fw);
    font-size: 3rem;
}

.name {
    font-family: var(--nav-ff);
    font-weight: var(--nav-fw);
    font-size: 6rem;
    color: var(--color-green);
}

.home-img {
    width: 45%;
}