.page {
    padding: 4rem 5rem;
    width: 100%;
    margin-left: 24rem;
    min-height: 100vh;
    background-color: var(--color-black);
    color: var(--color-light);
    gap: 3rem;
}

@media screen and (max-width: 420px) {
    .page {
        padding: 14rem 3rem 3rem 3rem;
        margin: 0;
        max-width: 100vw;
        width: 100%;
    }
}

@media screen and (max-width: 720px) {
    .page {
        padding: 14rem 3rem 3rem 3rem;
        margin: 0;
        max-width: 100vw;
        width: 100%;
    }
}