@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');

.header {
    width: 24rem;
    padding: 8rem 3rem;
    align-items:center;
    justify-content: space-around;
    height: 100vh;
    border-right: 3px dashed rgba(167, 164, 164, 0.507);
}

.header-item {
    font-size: 2.7rem;
    color: var(--color-light);
    font-weight: 400;
    text-decoration: line-through;
    font-family: 'Cabin Sketch', cursive;
    text-transform: uppercase;
    transition: all 1s ease;
}

.active {
    transform: scale(1.5);
    font-weight: 700;
    text-decoration: none;
}
