.experience-container {
    gap: 2rem;
}

.experience-title {
    color: var(--color-green);
    font-size: 4rem;
    font-weight: var(--subtitle-fw);
    text-align: center;
}

@media screen and (max-width: 420px) {

    .experience-title{
        font-size: 2.5rem;
    }
}