.container {
    gap: 3rem;
    height: 7rem;
    align-items: center;
}

.title {
    font-size: 4rem;
    text-transform: capitalize;
    letter-spacing: 1rem;
    padding-bottom: 2rem;
    width: 100%;
    border-bottom: 3px dashed rgba(167, 164, 164, 0.507);
    font-family: var(--nav-ff);
    font-weight: var(--nav-fw);
}

.logo {
    width: 8rem;
    height: 8rem;
}

