@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@400;500;700;800&display=swap');

html {
  font-size: 10px;
  font-family: 'Shantell Sans', cursive;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

:root {
  --color-black: #121212;
  --color-light: #ffffff;
  --color-green: #1CA593;
  --name-fw: 800;
  --subtitle-fw: 700;
  --main-fw: 500;
  --alt-fw: 400;
}