@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');
<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@800&display=swap');
=======
>>>>>>> a7d5c72ef9951687df024708ec2ac45f435027e3

html {
  font-size: 10px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

:root {
  --color-black: #121212;
  --color-light: #ffffff;
  --nav-ff: 'Cabin Sketch', cursive;
<<<<<<< HEAD
  --main-ff: 'Montserrat Alternates', sans-serif;
  --name-ff: 'Shantell Sans', cursive;;
  --name-fw: 800;
  --title-fw: 900;
  --subtitle-fw: 700;
  --main-fw: 500;
  --alt-fw: 400;
=======
>>>>>>> a7d5c72ef9951687df024708ec2ac45f435027e3
}