.main {
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    height: max-content;
    background-color: var(--color-black);
}

@media screen and (max-width: 420px) {
    .main {
        flex-direction: column;
    }
}

@media screen and (max-width: 720px) {
    .main {
        flex-direction: column;
    }
}