.contact {
    align-items: center;
    gap: 2rem;
}

.contact-img {
    width: 10rem;
}

.contact-title {
    color: var(--color-green);
    font-weight: var(--subtitle-fw);
    font-size: 3rem;
}

@media screen and (max-width: 420px) {
    .contact-title {
        font-size: 2rem;
        word-break: break-all;
    }
}