.skill {
    gap: 3rem;
    align-items: center;
}

.skill-img {
    width: 10rem;
    background-color: rgb(247, 239, 239);
    padding: 1rem;
    border-radius: 1rem;
}

.skill-title {
    font-size: 4rem;
    text-transform: capitalize;
    color: var(--color-green);
}

@media screen and (max-width: 420px) {
    .skill-img {
        width: 6rem;
    }
    .skill-title {
        font-size: var(--420-fs);
    }
}