@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Permanent+Marker&display=swap');

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #666666;
}

*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #666666;
    font-family: 'Montserrat', sans-serif;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.header {
    padding: 2rem 5rem;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 5rem;
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
    text-transform: uppercase;
}

.header-nav {
    gap: 3rem;
}

.header-link {
    font-size: 2rem;
}

.main {
    padding: 2rem 17rem;
    gap: 4rem;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
}

.main-descripion {
    gap: 1rem;
    justify-content: left;
}

.main-title {
    font-size: 4.8rem;
    font-weight: 700;
    color: #42446E;
}

.main-title span {
    background: linear-gradient(to right, #13B0F5, #E70FAA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-subtitle {
    color: main-subtitle;
    font-size: 3.8rem;
    font-weight: 700;
}

.main-btn {
    width: max-content;
    padding: 1rem 2rem;
    font-size: 4rem;
    border: 1px solid #666666;
    border-radius: 1rem;
    background-color: #666666;
    color: #f5f5f5;
    transition: all 0.5s ease-in-out;
}

.main-btn:hover {
    background-color: #f5f5f5;
    color: #666666;
}

.main-img {
    border-radius: 50%;
    width: 40rem;
    border: 4px solid transparent;
    background: linear-gradient(to top right, #13B0F5 0%, #E70FAA 100%) border-box;
}

.stack, .projects {
    padding: 6rem;
    gap: 3rem;
    align-items: center;
}

.title {
    font-size: 4.8rem;
    color: #42446E;
    font-weight: 700;
    text-transform: capitalize;
}

.subtitle {
    font-size: 3rem;
    font-weight: 400;
}

.stack-container {
    flex-wrap: wrap;
    padding: 3rem 17rem;
    gap: 5rem;
    height: 35rem;
    justify-content: center;
    align-items: center;
}

.stack-item {
    width: 10rem;
    padding: 1rem;
    border-radius: 1rem;
    height: 10rem;
    transition: all .7s ease-in-out;
}

.stack-item:nth-child(odd) {
    animation: 1s infinite alternate bubbleUp;
}

.stack-item:nth-child(even) {
    animation: 1s infinite alternate-reverse bubbleUp;
}

.stack-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

@keyframes bubbleUp {
    from {
        margin-top: -1.5rem;
    }
    to {
        margin-top: 0;
    }
}
@keyframes bubbleDown {
    from {
        margin-top: 1.5rem;
    }
    to {
        margin-top: 0;
    }
}

.footer {
    padding: 2rem 5rem;
    justify-content: space-between;
    align-items: center;
}

.footer-contact {
    gap: 3rem;
    align-items: center;
}

.footer-contact .subtitle {
    border-bottom: 1px solid #666666;
}

.footer-item img{
    width: 6rem;
}